<picture>
  <img src="assets/hackathon_logo.jpg">
</picture>

<p>The College of Computing and Software Engineering (CCSE) Hackathon is our college's premier event in showcasing student talent and connecting companies to our students. Through dedicated "threads" (aka themes) within the event, companies can raise awareness of opportunities for students to work with them, increase brand awareness, and locate top talent for computing workforce. Students can hone their skills, apply the knowledge they gain inside the classroom in authentic, real-world problems, and connect with internship and job opportunities.</p>
<div>
  <p>Come together with friends and other students, meet new people, strengthen your design and development skills, and connect with companies eager to identify talent and see what you can make… all within one weekend. This hackathon will strengthen your resume, let you apply what you are doing in the classroom into rea-world scenarios, and let you connect with employers for possibly internships, part time and full time job opportunities.

    The CCSE Hackathon is open to all undergraduate and graduate CCSE (ACS, BASIT, IT, CS, SWE, CGDD and PhD in Data Science and Analytics).</p>
</div>


<h1>Hackathon Winners 2020</h1>

<p>Congratulations to all the winners who participated in Hackathon 2020!
</p>


<mat-accordion>
    <!-- #docregion basic-panel -->
    <!-- #docregion hide-toggle -->
      <mat-expansion-panel hideToggle>
    <!-- #enddocregion hide-toggle -->
        <mat-expansion-panel-header>
          <mat-panel-title>
            First Place
          </mat-panel-title>
          
        </mat-expansion-panel-header>
      <p>HPCC Systems: Lydia Vaine, Jonathan-Henry Chery, Alex Henson</p>
    
    <p>MagMutual: David Blunk, Nicolas Capparelli, Andrew Goeden</p>
    
    <p>Wellstar: Caitlyn Murphy, James Bond, Nick Genova</p>
      </mat-expansion-panel>
    
      <!-- #docregion basic-panel -->
    <!-- #docregion hide-toggle -->
      <mat-expansion-panel hideToggle>
    <!-- #enddocregion hide-toggle -->
        <mat-expansion-panel-header>
          <mat-panel-title>
            Second Place
          </mat-panel-title>
        
        </mat-expansion-panel-header>
        <p>HPCC Systems: Abedul Hoque, Yasha Jones, Ngan Tran</p>
    
    <p>MagMutual: Baboucarr Sanneh, Ashiv Sharma, Munia Rahman</p>
    
    <p>Wellstar: Issouf Kindo, My Anh Huynh</p>
      </mat-expansion-panel>
    
      <!-- #docregion basic-panel -->
    <!-- #docregion hide-toggle -->
      <mat-expansion-panel hideToggle>
    <!-- #enddocregion hide-toggle -->
        <mat-expansion-panel-header>
          <mat-panel-title>
            Third Place
          </mat-panel-title>
          
        </mat-expansion-panel-header>
      <p>HPCC Systems: Srivasta Mallpragada, Noah Gardner, Anthony Phan</p>
    
    <p>MagMutual: Jiaming Li, Xiao Zhang, Houida Aldih</p>
    
    <p>Wellstar: Andre Dumas, Naquan Smith, Barrett Rose</p>
      </mat-expansion-panel>
    
    
      
    </mat-accordion>

