

<mat-card>
  <form [formGroup]="registrationForm" (ngSubmit)="onRegistration(registrationForm.value)">
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" type="text" ngModel required  minlength="1" placeholder="First Name">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" type="text" ngModel required placeholder="Last Name">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Email Address</mat-label>
      <input matInput formControlName="email"  type="text" required ngModel placeholder="Email Address">
    </mat-form-field>
    <br>
    <mat-form-field hintLabel="Minimum 8 characters.">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="text" required ngModel placeholder="Password">
    </mat-form-field>
    <br>
    <br>
    <button
      mat-raised-button
      type="submit">
      Register
    </button>
    <br>
    <br>
  </form>
</mat-card>

<!--<mat-accordion multi="true">
  <mat-expansion-panel *ngFor="let registration of registrations">
    <mat-expansion-panel-header>
      {{registration.firstName + registration.lastName}}
    </mat-expansion-panel-header>
    <p>{{registration.email}}</p>
  </mat-expansion-panel>
</mat-accordion>-->
