form {
    text-align: center;
    border-style: double;
    border-width: 1rem;
    border-color:#FFD733;
    margin: 0 auto;
    align-content: center;
  }
  .wellstar {
    width: 150px;
    height: 100px;
    border-radius: 0%;
    overflow: hidden;
    background-color: blue;
    /* commented for demo
    float: left;
    margin-left: 125px;
    margin-top: 20px;
    */

    /*for demo*/
    display:inline-block;
    vertical-align:middle;
  }
  .magmutual img{
    width:50%;
  }
  .magmutual {
    width: 180px;
    height: 99px;
    border-radius: 0%;
    overflow: hidden;
    background-color: blue;
    /* commented for demo
    float: left;
    margin-left: 125px;
    margin-top: 20px;
    */

    /*for demo*/
    display:inline-block;
    vertical-align:middle;
  }
  .magmutual img{
    width:500%;
  }
  .hpcc {
    width: 100px;
    height: 100px;
    border-radius: 0%;
    overflow: hidden;
    background-color: blue;
    /* commented for demo
    float: left;
    margin-left: 125px;
    margin-top: 20px;
    */

    /*for demo*/
    display:inline-block;
    vertical-align:middle;

  }
  .hpcc img{
    width:100%;
  }

  .owl {
    width: 100px;
    height: 100px;
    border-radius: 0%;
    overflow: hidden;
    align-content: center;

    /* commented for demo
    float: left;
    margin-left: 125px;
    margin-top: 20px;
    */

    /*for demo*/
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
    display: block;

  }
  .owl img{
    width:100%;
  }
  .sponsorTitle{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
  }
