<h1>OUR SPONSORS</h1>

<p>Thank you to all of our generous sponsors: <strong>MagMatual, HPCC Systems and Wellstar</strong> </p>

<h2>MagMutual</h2>
    MagMutual has been a leading provider of medical professional liability insurance for nearly four
    decades. MagMutual deliver comprehensive coverage for the practice, business and regulation of
    medicine, along with exceptional service, extensive support and financial benefits, to more than 30,000
    physicians and healthcare organizations nationwide.
 
<p>
<h2>HPCC Systems</h2>
    HPCC Systems incorporates a software architecture implemented on commodity shared-nothing computing clusters to provide high-performance, 
    data-parallel processing and delivery for applications utilizing big data. The HPCC Systems platform includes system configurations to support both 
    parallel batch data processing (Thor) and high-performance data delivery applications using indexed data files (ROXIE). It also includes a high level and 
    implicitly parallel data-centric declarative programming language for parallel data processing, called Enterprise Control Language (ECL).

<p>
<h2>WellStar</h2>
Nationally ranked and locally recognized for high-quality care, inclusive culture, and exceptional doctors and caregivers, Wellstar Health
system is one of the largest and one of the most integrated healthcare systems in Georgia. State-of-the-art facilities include:

<li>11 hospitals</li>
<li>300+ medical office locations</li>
<li>9 cancer centers</li>
<li>55 rehabilitation centers</li>
<li>3 hospice facilities</li>
<li>retirement village</li>
<li>imaging centers</li>
<li>15 urgent care locations</li>
<li>5 health parks</li>

<h2>Sponsor Challenges</h2>
                  
            

