<section data-section="team" class='team'>
  <div class="container">
    <h1>Meet the team!<span></span></h1>
  </div>
</section>

<div class="bootstrap-iso">
  <div class="container">
    <ul class="nav nav-tabs nav-center" role="tablist">
      <li class="nav-item"><a data-toggle="tab" class="active nav-link" href="#team1" style="-webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px;">Team 1</a></li>
      <li class="nav-item"><a data-toggle="tab" class="active nav-link"href="#team2" style="-webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px;">Team 2</a></li>
      <li class="nav-item"><a data-toggle="tab" class="active nav-link"href="#team3" style="-webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px;">Team 3</a></li>
      <li class="nav-item"><a data-toggle="tab" class="active nav-link"href="#team4" style="-webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px;">Team 4</a></li>
      <li class="nav-item"><a data-toggle="tab" class="active nav-link"href="#team5" style="-webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px;">Team 5</a></li>
      <li class="nav-item"><a data-toggle="tab" class="active nav-link"href="#team6" style="-webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px;">Team 6</a></li>
    </ul>
  </div>

  <h2>Students at KSU Hackathon</h2>


  <div class="row">
    <div class="column">
      <img src="https://kennesawedu-my.sharepoint.com/:i:/r/personal/aclar240_kennesaw_edu/Documents/Hackathon%20Pics/2bab2a76-fe6c-46a8-abee-2f6ac91a5af4afa98df4-9ea6-4d0e-98f2-caa6719c60d5.jpg?csf=1&web=1&e=jct7mV" style="width:100%">
    </div>
    <div class="column">
      <img src="https://kennesawedu-my.sharepoint.com/:i:/r/personal/aclar240_kennesaw_edu/Documents/Hackathon%20Pics/49277840-2cc0-4359-96e3-c875f01f6d528513c05c-0a23-43fd-ae17-32d09cb59775.jpg?csf=1&web=1&e=DolVSc" style="width:100%">
    </div>
    <div class="column">
      <img src="https://kennesawedu-my.sharepoint.com/:i:/r/personal/aclar240_kennesaw_edu/Documents/Hackathon%20Pics/7046754b-37a0-4cfb-9f04-55498813dedac50828de-1be1-46c1-a263-0254b1d83d84.jpg?csf=1&web=1&e=oC7bZw" style="width:100%">
    </div>
  </div>
