
<nav *ngIf="nav.visible">
  <mat-toolbar>
    <button mat-raised-button routerLink = "/homepage">Home</button>
    <button mat-raised-button routerLink="/login">Log In</button>
    <button mat-raised-button routerLink = "/register-individual">Individual Registration</button>
    <button mat-raised-button routerLink="/registration-team">Team Registration</button>
    <button mat-raised-button routerLink="/teams">Teams</button>
    <button mat-raised-button routerLink="/info">Sponsors</button>
  </mat-toolbar>
</nav>

